*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Poppins', sans-serif;
}
  
.Summer{
    background-color: rgb(0, 0, 0);
    color:#ffffffcc;
    padding: 10px;
    display: flex;
    justify-content:space-around;
}

.Summer-title{
    padding-left: 25%;
}

.Summer-title a{
    color: #fff;
    font-weight: bolder;
    padding-left: 25px;
}
.Summer-language{
    padding-right: 2%;
    position: relative;
}


nav{
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    padding: 15px;
    padding-top: 35px;
}


nav .nav-title{
    padding-left: 12%;
}

nav .nav-title h1{
font-size: 35px;
font-weight: 600;
}
nav .nav-bar a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    display: inline-block;
    position: relative;
}

.nav-bar a::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 0;
    height: 3px;
    background-color: rgb(0, 0, 0);
    transition: width 0.3s ease-in-out;
}

.nav-bar a:hover::after{
    width: 100%;
}

nav .nav-bar{
    padding-left: 5%;
}
nav .nav-bar ul{
    display: flex;
    gap: 65px;
    padding: 0;
}

nav .nav-bar ul li{
    list-style: none;
    position: relative;
}

nav .nav-button{
   display: flex;
   justify-content: space-between;
   padding-right: 150px;
   gap: 30px;
   align-items: center;
}
.nav-button-search{
    position: relative;
    display: inline-block;
} 
.nav-button-search input{
    border: none;
    padding: 12px;
    border-radius: 4px;
    padding-right: 35px;
    padding-left: 25px;
   background-color: rgb(248, 244, 244);
}
.search-icon{
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

/*debut section presentation*/

.presentation{
    display: flex;
    justify-content:center;
}
.presentation .varieter{
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 20px;
    width: 250px;
    border-right: #a5a5a5 solid;
    padding-top: 20px;
    padding-left: 3%;

}

.presentation .varieter .DropDown{
    margin-left: 20%;
    position: relative;
    top: 5px;
}

.presentation .varieter .DropDown1{
    margin-left: 32%;
    position: relative;
    top: 5px;
}

.presentation .container-slide{
    background-color: rgb(255, 255, 255);
    width: 63%;
    margin-top: 25px;
    height: 420px;
    
}
.presentation .slide{
    background-color: black;
    height: 91%;
    margin-left: 4%;
    display: flex;
    justify-content: space-around;
    color: #fff;
}

.slide-info{
display: flex;
flex-direction: column;
gap: 40px;
padding-top: 3%;
padding-left: 3%;
}
.slide-info .Apple{
    position: relative;
    top: 15px;
}

.slide-info span{
    padding-left: 30px;
}

.slide-info h1{
    font-size: 60px;
}

.slide-info a{
    text-decoration: none;
    color: #fff;
    padding-bottom: 5px;
    border-bottom: #fff solid ;
}

.slide-info .vector{
    position: relative;
    top: 5px;
    left: 12px;
}

.slide .iphone14{
    padding-top: 6%;
}

.input-slide{
    text-align: center;
    position: relative;
    bottom: 30px;
}

/*flash sales*/
.Flash-Sales{
    margin-left: 12%;
    margin-top: 5%;
}
.Flash-Sales .contain-colors{
    display: flex;
    align-items: center;
    margin-bottom: 3%;
}
.Flash-Sales .contain-colors .colors{
    background-color: rgb(250, 7, 7);
    width: 25px;
    height: 50px;
    border-radius: 5px;
}
.Flash-Sales .contain-colors .colors-text{
    padding-left: 1%;
    color: red;
    font-weight: 900;
}

.contain-date{
    display: flex;
    gap: 70px;
    align-items: center;
}

.contain-title h1{
    font-size: 50px;
}
.contain-hours{
    display: flex;
    gap: 20px;
    padding-bottom: 15px;
}

.contain-hours .Days{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.contain-hours h1{
    font-size: 40px;
    padding-top: 13px;
    color: red;
}
 
.contain-hours .Days .day{
    font-size: 40px;
}

.contain-hours .Days span{
    font-size: 13px;
    font-weight: 600;
}

.direction{
    display: flex;
    gap: 10px;
    margin-left: 28%;
    padding-bottom: 12px;
}

.direction-left{
    padding: 10px;
    border-radius: 100%;
    background-color: #ebe5e5;
    align-items: center;
    text-align: center;
}

.direction-right{
    padding: 10px;
    border-radius: 100%;
    background-color: #ebe5e5;
    align-items: center;
    text-align: center;
}

.contain-card{
    display: flex;
    flex-wrap: wrap;
    margin-top: 2%;
    gap: 15px;
}

.contain-card {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}

.card {
    position: relative;
    width: 300px; 
    border-radius: 10px;
    height: 100%;
    overflow: hidden;
    background-color: #F5F5F5;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.card:hover {
    transform: scale(1.05);
}


.left-btn {
    position: absolute;
    top: 20px;
    left: 15px;
    background-color: #DB4444;
    color: white;
    font-size: 14px;
    font-weight: bold;
    border: none;
    padding:7px 15px;
    border-radius: 5px;
    cursor: pointer;
}


.right-buttons {
    position: absolute;
    top: 20px;
    right: 15px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}


.top-btn,
.bottom-btn {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.top-btn:hover,
.bottom-btn:hover {
    background-color: #f1f1f1;
}


.product-img {
    display: block;
    margin: 70px auto 60px; 
}


.add-to-cart {
    position: absolute;
    top: 240px; 
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px 0;
    font-weight: bold;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    margin: 0;
}

.card:hover .add-to-cart {
    opacity: 1;
}

/* Description et prix */
.details {
    margin: 0;
    background-color: #ffffff;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.price {
    font-size: 18px;
    color: red;
    font-weight: bold;
}

.old-price {
    text-decoration: line-through;
    color: gray;
    margin-left: 10px;
}

/* Étoiles */
.stars {
    margin-top: 5px;
    font-size: 18px;
    color: rgb(141, 141, 141);
}

.contain-button{
    display: flex;
    margin-top: 5%;
    justify-content: center;
    margin-right: 10%;
    margin-bottom: 5%;
}

.contain-button button{
    padding: 25px 60px 25px 60px;
    background-color: #DB4444;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s ease-in-out;
}
.hr-card{
    width: 90%;
}


.Category{
    border: 1px solid #831d1d;
    padding: 30px 65px 30px 65px;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 8px;
    margin-bottom: 1%;
}

.direction-category{
    display: flex;
    gap: 10px;
    margin-left: 42%;
    padding-bottom: 12px;
}

.direction-left-category{
    padding: 10px;
    border-radius: 100%;
    background-color: #ebe5e5;
    align-items: center;
    text-align: center;
}

.direction-right-category{
    padding: 10px;
    border-radius: 100%;
    background-color: #ebe5e5;
    align-items: center;
    text-align: center;
}